<div class="conteiner p-4">
    <div class="row">
        <div class="cold-md-4 mx-auto">
            <div class="card">
                <div class="card-body">
                    <form action="/links/add_categoria" method="POST">

                        <div class="form-group">
                            <input type="text" class=c"form-control" name="nombre_categoria" placeholder="Nombre Tipo "
                                autofocus>
                        </div>



                        <button class="button">save</button>
                    </form>
                </div>
            </div>
        </div>
    </div>