<div class="conteiner p-4">
<div class="row">
    <div class="cold-md-4 mx-auto">
        <div class="card">
            <div class="card-body">
                    <form action="/links/edit_tipo_usu/{{link.id_tipo}}" method="POST">
                    <div class="form-group">
                    <input type="text" value="{{link.id_tipo}}" class="form-control" name="id_tipo" placeholder="ID Tipo" autofocus>
                    </div>

                    <div class="form-group">
                    <input type="text" value="{{link.nombre_tipo}}" class="form-control"  name="nombre_tipo" placeholder="Nombre Tipo De Pago " autofocus>
                    </div>

                    
                    </div>

                    <button class="button">save</button>
                    </form>
            </div>
        </div>
    </div>
</div>